<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <ol>
            {{#each burgers}}
                <li data-id="{{id}}">{{burger_name}}</li>
            {{/each}}
            </ol>
        </div>
        <div class="col-lg-6">
            Coming soon!
        </div>
    </div>
    <div class="row p-4">
        <div class="col-lg-12">
            <p>
                <button type="submit" class="btn btn-success btn-lg btn-block" id="devour-burger">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    Devour Burger
                </button>
            </p>
            <p class="h-2">
                <button type="submit" class="btn btn-danger btn-lg btn-block" id="delete-check">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    Delete All Burgers
                </button>
            </p>
        </div>
    </div>
</div>