<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <ol>
            {{#each burgers}}
                <li>{{burger_name}}</li>
            {{/each}}
            </ol>
        </div>
        <div class="col-lg-6">
            Coming soon!
        </div>
    </div>
    <div class="row p-4">
        <div class="col-lg-12">
            <p>
                <button type="submit" class="btn btn-primary btn-lg btn-block" id="submit">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    Submit
                </button>
            </p>
            <p class="h-2">
                <button type="submit" class="btn btn-primary btn-lg btn-block">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    Reset
                </button>
            </p>
        </div>
    </div>
</div>